<p id="notice"><%= notice %></p>

<p>
  <strong>Integer:</strong>
  <%= @note.integer %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @note.datetime %>
</p>

<p>
  <strong>String:</strong>
  <%= @note.string %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
