.row.m-0.flex-grow-full
  #home-login.col-md-4.col-12.text-center
    %h2.text-left Register an Account

    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| 
      = devise_error_messages!

      .field.form-group
        = f.text_field :firstname, autofocus: true, autocomplete: "firstname", placeholder: "First Name", required: true

      .field.form-group
        = f.text_field :lastname, autocomplete: "lastname", placeholder: "Last Name", required: true

      .field.form-group
        = f.text_field :organization, autocomplete: "organization", placeholder: "Organization", required: true

      .field.form-group
        = f.email_field :email, autocomplete: "email", placeholder: "Email", required: true

      .field.form-group
        - if @minimum_password_length 
          - minlength = "(#{@minimum_password_length} characters minimum)"
        = f.password_field :password, autocomplete: "off", placeholder: "Password", required: true
        %p= minlength

      .field.form-group
        = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", required: true

      .actions
        = f.submit "Sign up"

      = render "devise/shared/links"
