<%= form_with(model: device, local: true) do |form| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uniqueIdentifier %>
    <%= form.text_field :uniqueIdentifier, id: :device_uniqueIdentifier %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :device_type %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :device_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :device_longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
