%p#notice= notice
%p
  %strong Uniqueidentifier:
  = @device.uniqueIdentifier
%p
  %strong Type:
  = @device.type
%p
  %strong Latitude:
  = @device.latitude
%p
  %strong Longitude:
  = @device.longitude
= link_to 'Edit', edit_device_path(@device)
|
= link_to 'Back', devices_path
