%p#notice= notice
%h1 Timeseries
%table
  %thead
    %tr
      %th Integer
      %th Datetime
      %th Double
      %th{:colspan => "3"}
  %tbody
    - @timeseries.each do |timeseries|
      %tr
        %td= timeseries.integer
        %td= timeseries.datetime
        %td= timeseries.double
        %td= link_to 'Show', timeseries
        %td= link_to 'Edit', edit_timeseries_path(timeseries)
        %td= link_to 'Destroy', timeseries, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Timeseries', new_timeseries_path
